<!DOCTYPE html>
<html lang="ja">
<%- head %>
<body>
    <%- header %>
    <main class="center">
        <div class="hello">404</div>
        お探しのページは見つかりませんでした。<br>
        The page you are looking for could not be found.
    </main>
</body>
</html>