<!DOCTYPE html>
<html lang="ja">
<%- head %>
<body>
    <%- header %>
    <main class="center">
        <div class="hello">404</div>
        お探しのページは見つかりませんでした。<br>
        探したら出てくるかもね<br>
        まあ頑張って探してねwww
    </main>
</body>
</html>