<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Libet-beta</title>
    <link rel="stylesheet" href="/style.css" type="text/css">
    <link rel="icon" href="/pictures/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
    <header>
        <div id="title"><a href="#">Libet-beta</a></div>
        <ul id="menu">
            <li><a href="/">Watch</a></li>
            <li><a href="/upload">Upload</a></li>
            <li><a href="/404">About us - Comming soon...</a></li>
            <li><a href="/404">Science lab - Comming soon...</a></li>
            <li><a href="/404">Liberal Arts - Comming soon...</a></li>
        </ul>
    </header>
    <div style="height: 50px;"></div>
    <%- body %>
</body>
</html>