<!DOCTYPE html>
<html>
<%- head %>
<body>
  <%- header %>
  <div id="subHeader">
    <div class="margin">
      <h1>Upload</h1>
      <p>プレゼンをみんなに知らせる場所</p>
    </div>
  </div>
  <main class="margin">
    <label>
      <span>URL(検索バーのやつ)</span><input name="src" required>
    </label>
    <label>
      <span>Title</span><input name="title" required>
    </label>
    <label>
      <span>Speaker(姓名全角スペース区切り)</span><input name="speaker" required>
    </label>
    <label>
      <span>Date(YYYY/MM/DD方式)</span><input name="date" required>
    </label>
    <label>
      <span>Content</span><input name="content" required>
    </label>
    <label>
      <span>Tags(小文字カンマ区切り)</span><input name="tags" required>
    </label>
    <button id="button" class="red round">Send!</button>
  </main>
  <script src="views/upload/script.js"></script>
</body>
</html>